# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
**/bin/
**/obj/

# Test result folders
**/TestResults/

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.DotSettings.user

# Visual Studio Code
.vscode/